################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/grpProject_GUI_ver/.vs/grpProject_GUI_ver/v15/Browse.VC.opendb
/gce21105project/.vs/gce21105project/v15/Browse.VC.opendb
/GPJSC/.vs/GPJSC/v15/Browse.VC.opendb
